## Types

### (Numbers)

#### Int
#### Int, or integer, is a whole number, positive or negative, without decimals, of unlimited length.

In [1]:
X = 3
type(X)

int

#### Float
#### Float, or "floating point number" is a number, positive or negative, containing one or more decimals.

In [2]:
a = 3.8
b = 2.75
c = 1e7 # Float can also be scientific numbers with an "e" to indicate the power of 10.
print("a is a: ", type(a))
print("b is a: ",type(b))
print("c is a: ",type(c))


print("value of c is:", c)

a is a:  <class 'float'>
b is a:  <class 'float'>
c is a:  <class 'float'>
value of c is: 10000000.0

### Strings & List

#### String
#### A string in Python is a sequence of characters

In [3]:
"this is a string, strings can be created with quatation marks, single, double or triple!"
print ("this is a string, strings can be created with quatation marks, single, double or triple!")

this is a string, strings can be created with quatation marks, single, double or triple!

#### Assign string with a variable

In [4]:
helloworld = "hello" + " " + "world"
print(helloworld)

hello world

#### List
#### A list is a collection which is ordered and changeable. In Python lists are written with square brackets.

In [5]:
list_with_words= ["this", "is", "a", "list", "we", "created"]

In [6]:
print(list_with_words)

['this', 'is', 'a', 'list', 'we', 'created']

#### Acess & navigate your list

In [7]:
print(list_with_words[0])  #in programming, index start with 0 instead of 1, so the first item would be number 0

this

In [8]:
#print the last item
print(list_with_words[-1])

created

In [9]:
#print second last item,
print(list_with_words[-2])

we

In [10]:
#print from second item to the 5th item
print(list_with_words[1:4])

['is', 'a', 'list']

#### Combine list

In [11]:
even_numbers = [2,4,6,8]
odd_numbers = [1,3,5,7]
odd_even = odd_numbers + even_numbers
even_odd = even_numbers + odd_numbers
print("odd_even", odd_even)
print("even_odd", even_odd)

odd_even [1, 3, 5, 7, 2, 4, 6, 8]
even_odd [2, 4, 6, 8, 1, 3, 5, 7]

In [12]:
print([1,2,3] * 3)

[1, 2, 3, 1, 2, 3, 1, 2, 3]

## Basic Operator with Numbers

In [13]:
addition = 1 + 2
print( "addition:", addition)
subtraction = 9 - 2
print("subtraction:", subtraction)
multiply = 2*6
print("multiply:" , multiply)
division = 24 / 6
print("division:", division)

addition: 3
subtraction: 7
multiply: 12
division: 4.0

In [14]:
# remainder -the number which is left over in a division in which one quantity does not exactly divide another.
# so 11/3 = 3 and with remainder of 2 (3*3 =9, 11-9 = 2)
remainder = 11 % 3
print("remainder:", remainder)

remainder: 2

In [15]:
squared = 7 ** 2
cubed = 2 ** 3
exponential = 5 ** 10
print("squared:", squared)
print("cubed:", cubed)
print("exponential:", exponential)

squared: 49
cubed: 8
exponential: 9765625

In [16]:
#a result obtained by dividing one quantity by another.
quotient = 10 // 3 # normally 3.3333 but the floor of 3.333 is 3 
print ("quotient:" , quotient)

quotient: 3

### Short Hand

In [17]:
x=3
x+=5 # x=x+5
print(x)

8

In [18]:
y=9
y-=2 # y=9-2 
print(y)

7

In [19]:
x=2
x*=3 # x=2*3 
print(x)

6

In [20]:
y = 18
y/=2 # y=18/2 
print(y)

9.0

## Type Convertion / Cast

In [21]:
x = int(1)   # x will be 1
y = int(2.8) # y will be 2
z = int("3") # z will be 3
print ("x:",x)
print("y:",y)  
print("z:",z)

x: 1
y: 2
z: 3

In [22]:
x = float(1)     # x will be 1.0
y = float(2.8)   # y will be 2.8
z = float("3")   # z will be 3.0
w = float("4.2") # w will be 4.2
print ("x:",x)
print("y:",y)  
print("z:",z)
print("w:",w )

x: 1.0
y: 2.8
z: 3.0
w: 4.2

In [23]:
x = str("s1") # x will be 's1'
y = str(2)    # y will be '2'
z = str(3.0)  # z will be '3.0'
print ("x:",x)
print("y:",y)  
print("z:",z)

x: s1
y: 2
z: 3.0

In [24]:
num_int = 123
num_flo = 1.23

num_new = num_int + num_flo

print("datatype of num_int:",type(num_int))
print("datatype of num_flo:",type(num_flo))

print("Value of num_new:",num_new)
print("datatype of num_new:",type(num_new))

datatype of num_int: <class 'int'>
datatype of num_flo: <class 'float'>
Value of num_new: 124.23
datatype of num_new: <class 'float'>

### Changing Types

#### The below code will not work

In [25]:
num_int = 123
num_str = "456"

print("Data type of num_int:",type(num_int))
print("Data type of num_str:",type(num_str))

print(num_int+num_str)

Data type of num_int: <class 'int'>
Data type of num_str: <class 'str'>

TypeError: unsupported operand type(s) for +: 'int' and 'str'

#### Using type conversion to make the code below to work

In [26]:
num_int = 123
num_str = "456"

print("Data type of num_int:",type(num_int))
print("Data type of num_str before Type Casting:",type(num_str))

num_str = int(num_str)
print("Data type of num_str after Type Casting:",type(num_str))

num_sum = num_int + num_str

print("Sum of num_int and num_str:",num_sum)
print("Data type of the sum:",type(num_sum))

Data type of num_int: <class 'int'>
Data type of num_str before Type Casting: <class 'str'>
Data type of num_str after Type Casting: <class 'int'>
Sum of num_int and num_str: 579
Data type of the sum: <class 'int'>

## Comparison & Boolean

In [27]:
x = 5
print (x ==5) # == is for comparing values, = is for assigning values

True

In [28]:
x = 5
print(x!=5) #! is used as negation

False

In [29]:
x = 5

print(x > 3 and x < 10)

True

In [30]:
x = 5

print(x > 3 or x < 4)

True

In [31]:
x = 5

print(not(x > 3 and x < 10))

False

In [32]:
x = 5

print(x>=5)

True

In [33]:
x=5

print (x<=4)

False

## Logical Operations

### Logical operators are the and, or, not operators.

In [34]:
x = True
y = False

print('x and y is',x and y) # one is true and the other is false, so 'and' is false

print('x or y is',x or y) # one is true, other is false, so 'or' is true 

print('not x is',not x) # opposite of true is false

x and y is False
x or y is True
not x is False

### Identity operators: "is not" and "is"

In [35]:
x1 = 5
y1 = 5
x2 = 'Hello'
y2 = 'Hello'

# Output: False
print(x1 is not y1)

# Output: True
print(x2 is y2)

False
True

### membership operators: "not in" and "in"

In [36]:
x = 'Hello world'

# Output: True
print('H' in x)

# Output: False
print('hello' in x) #this is because the "H" is capitalized

# Output: True
print('Hello' not in x)

True
False
False

### If Statements

In [37]:
x = False
if x: # this means if x is true 
    print("condition met")
else:
    print("condition not met")

condition not met

In [38]:
x = False
if not x: # this means condition is true because 'not false' is true 
    print("condition met")
else:
    print("condition not met")

condition met

In [39]:
x = 10 
y = 20

if x < y:
    print("x is less than y")
else: 
    print("x is greater than y ")

x is less than y


### Two easy to understand operators are and and or. They do exactly what they sound like:

In [40]:
if 1 < 2 and 4 > 2:
    print("condition met")

if 4 < 10 or 1 > 2:
    print("condition met")

condition met
condition met

In [41]:
if 1 > 2 and 4 < 10:
    print("condition not met") # this will not print anything bc condition is not met

#### nested IF statements

In [42]:
x = 41

if x > 10:
  print("X is above ten,")
  if x > 20:
    print("and also above 20!")
  else:
    print("but not above 20.")

X is above ten,
and also above 20!

In [43]:
# use elif for multiple conditions 

a = 33
b = 33
if b > a:
  print("b is greater than a")
elif a < b: # elif is shorthand for "else if" 
  print("a is greater than b")
elif a == b:
  print("a and b are equal")

a and b are equal

### For Loops

In [44]:
list = ['yellow', 'blue', 'red']

for color in list:
     print(color)

yellow
blue
red

#### Avoid infinte loops

In [45]:
# This will go on forever becayse x is ALWAYS equal to one 

# x = 1
# while x < 5:
#     print(x)

In [46]:
# This will stop when x is less than or = to 5 because everytime it runs, x goes up by 1 
x = 1
while x <= 5:
    print(x)
    x += 1 # x=x+1

1
2
3
4
5